<a href="https://colab.research.google.com/github/Abdyrasul/tensorflow_scripts/blob/master/read_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
csv = pd.read_csv("/content/s01_video01_calm_fear_sad_disgust_anger_happy.csv")

In [14]:
csv.head(5)

      ecg     gsr   temp  hr  spo2  timest
0  1.7107  0.4252  40.00  65    96   31002
1  1.7253  0.4203  39.93  65    96   31006
2  1.7058  0.4154  40.03  65    96   31009
3  1.7302  0.4057  40.00  65    96   31012
4  1.7302  0.4106  39.86  65    96   31015

In [15]:
print(csv['ecg'].dtypes)

float64

In [16]:
csv.describe()

,ecg,gsr,temp,hr,spo2,timest
count,113625.000000,113625.000000,113625.000000,113625.000000,113625.000000,113625.000000
mean,1.843371,0.201154,40.139905,65.390222,96.275855,222361.105998
std,0.402865,0.126322,0.134640,2.911744,1.131180,110903.486134
min,0.000000,0.000000,39.120000,59.000000,90.000000,31002.000000
25%,1.700900,0.107500,40.060000,64.000000,96.000000,126029.000000
50%,1.818200,0.185700,40.160000,65.000000,96.000000,222298.000000
75%,1.906200,0.317700,40.230000,67.000000,97.000000,318449.000000
max,5.000000,0.469200,40.670000,73.000000,98.000000,414499.000000